#login{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    padding-bottom: 8%;
    background-color: #073A40;
    opacity: 60%;
    color: white;
}

#principallogin{
    padding-bottom: 0%;
    margin-bottom: 0%;
}

#logoLogin{
    height: 20%;
    width: 20%;
}

#buttonsign{
    background-color: #0A7368;
    border: none;
    width: 100%;

}

#hr{
    color: white;
}